# EditorConfig for dq monorepo
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
max_line_length = 120

ktlint_standard = enabled
ktlint_code_style = ktlint_official
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_chain-method-continuation = disabled
ktlint_standard_no-empty-first-line-in-class-body = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_wrapping = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_blank-line-before-declaration = disabled

[*.{yaml,yml}]
indent_size = 2

[*.{json,bzl}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[BUILD.bazel]
indent_size = 4

[MODULE.bazel]
indent_size = 4

[WORKSPACE]
indent_size = 4
